/* ---------- Clases y reglas Generales ----------*/

@keyframes desappear{
    0%{
    opacity: 1;
    }
    100%{
    opacity: 0;
    }
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
    opacity: 1;
    }
    
}

.appeared{
    animation-name: appear;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.desappeared{
    animation-name: desappear;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../Files/Roboto/Roboto-Regular.ttf) format("truetype");
}

body, html{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.CenterContent{
    display: flex;
    top: 0px;left: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.View{
    position: absolute;
    height: 800px;
    width: 360px;
    background-color: white;
}

.center{
    flex-shrink: 0;
}

.hidden{
    display: none;
}

*{
    font-family: "Roboto-Regular" !important;
}

.formdiv{
    width: 80%;
}

.halfformdiv{
    width: 35%;
}

.formtext{
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    font-weight: bold;
}

.iconoperfil{
    height: 75px;
    left: 20%;
    position: absolute;
    border: 3.5px black solid;
    border-radius: 15px;
}

.iconoregresar{
    height: 35px;
    left: 20%;
    position: absolute;
    border-radius: 15px;
}

.divregresar{
    display: flex;
    position: absolute;
    float: right;
    top: 11%;
    left: 5%;
    align-items: center;
    cursor: pointer;
}

.divperfil{
    display: flex;
    position: absolute;
    float: right;
    top: 11%;
    left: 73%;
    align-items: center;
    cursor: pointer;
}

.username{
    margin-bottom: unset;
    position: absolute;
    right: 7px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
}

.divpefil p{
    font-size: 20px;
}

/* ---------- Vista Bienvenida ----------*/

.wellcome{
    font-size: 35px;
}

.logobienvenida{
    height: 150px;
}

/* ---------- Vista Ingresar ----------*/

.ingresar{
    font-size: 30px;
}

.textodown{
    margin-top: 20px !important;
}


/* ---------- Vista Menu ----------*/

.menu{
    position: absolute;
    left: 5%;
    top: 20%;
}

.opcion{
    cursor: pointer;
}

.iconomenu{
    height: 75px;
    border: 2px black solid;
    border-radius: 15px;
}

.divmenu{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.textomenu{
    margin-bottom: unset;
    margin-left: 8%;
    font-size: 20px;
    white-space: nowrap;
}

/* ---------- Vista Pefil ----------*/

.iconoperfilprincipal{
    height: 120px;
    border: 3.5px black solid;
    border-radius: 15px;
}

.textousuario{
    font-size: 20px;
    margin-bottom: unset;
    margin-top: 10px;
}

.divheadermenu{
    position: absolute;
    top: 20%;
}

.CenterElements{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.textoheadermenu{
    margin-bottom: unset;
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
}

.divhistorialheader{
    position: absolute;
    top: 41%;
}

.divhistorial{
    position: absolute;
    width: 75%;
    height: 35%;
    top: 45%;
    overflow-y: auto;
}

.textohistorial{
    font-size: 20px;
}

.divbotonsalir{
    top: 85%;
    position: absolute;
}

/* ---------- Vista Dietas ----------*/

.divdietaheader{
    position: absolute;
    top: 18%;
    left: 7%;
}

.divdietas{
    position: absolute;
    width: 75%;
    height: 65%;
    top: 22%;
    overflow-y: auto;
}

.divdietas div{
    height: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3%;
    width: min-content;
}

.divdietas div img{
    border: 2.5px black solid;
    border-radius: 15px;
    padding: 0px 8px 0px 8px;
    height: 50px;
    margin-right: 4%;
}

.divdietas div p{
    margin-bottom: unset;
}


/* ---------- Vista Rutinas ----------*/


.divrutinas{
    position: absolute;
    width: 75%;
    height: 65%;
    top: 22%;
    overflow-y: auto;
}

.divrutinas div{
    height: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3%;
    width: min-content;
}

.divrutinas div img{
    border: 2.5px black solid;
    border-radius: 15px;
    padding: 3px;
    height: 50px;
    margin-right: 4%;
}

.divrutinas div p{
    margin-bottom: unset;
}





.rutina-div-dias{
    width: 75%;
    height: 60%;
    overflow-y: auto;
    position: absolute;
    top: 23%;
}

.rutina-div-dias div div p{
    margin-bottom: unset;
    left: 5px;
    margin-left: 10px;
    display: flex;
}
.rutina-div-dias div div div p{
    margin-bottom: unset;
    left: 5px;
    margin-left: 10px;
    display: flex;
    font-size: 0px;
    transition: font-size 0.2s ease-in-out 100ms;
}

.rutina-div-dias div div div img{
    height: 0px;
    border: 0px black solid;
    border-radius: 15px;
    transition: height 0.2s ease-in-out 100ms,border-radius 0.2s ease-in-out 100ms, border 0.2s ease-in-out 100ms;
}

.rutina-div-dias div div div{
    display: flex;
    align-items: center;
    transition: display 0.2s ease-in-out 100ms;
}

.rutina-div-dias div div p:hover + div img{
    height: 70px;
    border: 3.5px black solid;
    border-radius: 15px;
}

.rutina-div-dias div div p:hover + div p{
    font-size: 1em;
}

.rutina-div-titulo{
    position: absolute;
    top: 18%;
    left: 7%;
}

.rutina-div-dias div h1{
    margin-bottom: unset;
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
}

.rutina-div-titulo h1{
    margin-bottom: unset;
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
}

/* ---------- Vista Registro ----------*/

.botonregistro{
    margin-top: 20px;
}


/* ---------- Vista Datos Personales ----------*/

.flex{
    display: flex;
    justify-content: center;
}

.firsthalf{
    margin-right: 5%;
}

.secodhalf{
    margin-left: 5%;
}